<html ng-app="mycontactapp">
<head>

    <title>My  app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="appConfig.service.js"></script>
    <script src="appName.service.js"></script>
    <script src="contact.controller.js"></script>
    <script src="contactData.service.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <h1>My contact app</h1>
    <div class="container" ng-controller="MainCtrl as ctl">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <div ng-repeat="contact in ctl.contacts" ng-click="ctl.selectContact($index)">
                        <li class="list-group-item"><span>{{contact.name.first}}</span></li>
                    </div>
                </ul>
            </div>
            <div class="col-md-6">
            <div class ="aler alert-success" ng-ig="ctl.successMsg">{{ctl.successMsg}}</div>
            <div class ="aler alert-danger" ng-ig="ctl.failedMsg">{{ctl.failedMsg}}</div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img ng-src="{{ctl.selectedContact.picture.medium}}"></img>
                    </a>
                  </div>
                  <div class="media-body">            
                    <h4 class="media-heading" >{{ctl.selectedContact.name.first + " " + ctl.selectedContact.name.last}}</h4>
                    <!--<h4 class="media-heading" ng-show="ctl.editMode"><input type="text" ng-model="ctl.selectedContact.name.first"></input><input type="text" ng-model="ctl.selectedContact.name.last"></input> -->
                    <button ng-click="ctl.toggleEditMode()" ng-hide="ctl.editMode">Edit</button>
                    <button ng-click="ctl.saveData()" ng-show="ctl.editMode">save</button>

                    <div>
                        <p>
                            <h4>Location</h4>
                        </p>
                        <p ng-hide="ctl.editMode"><span><b>Street</b></span> {{ctl.selectedContact.location.street}}</p>
                        <p ng-show="ctl.editMode"><span><b>Street</b><input type="text" ng-model="ctl.selectedContact.location.street">
                        <p ng-hide="ctl.editMode"><span><b>City </b></span> {{ctl.selectedContact.location.city }}</p>
                        <p ng-show="ctl.editMode"><span><b>City </b><input type="text" ng-model="ctl.selectedContact.location.city">
                        <p ng-hide="ctl.editMode"><span><b>State </b></span> {{ctl.selectedContact.location.state }}</p>
                        <p ng-show="ctl.editMode"><span><b>State </b><input type="text" ng-model="ctl.selectedContact.location.state">
                  </div>
                    <div>
                        <p ng-hide="ctl.editMode"><span><b>Phone</b></span> {{ctl.selectedContact.cell}}</p>
                        <p ng-show="ctl.editMode"><span><b>Phone</b><input type="text" ng-model="ctl.selectedContact.cell">
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>